{{ sender_name }}
{{ sender_address }}
{{ sender_phone }} | {{ sender_email }}

{{ recipient_name }}
{{ recipient_address }}

{{ place }}, {{ date }}

Betreff: {{ subject }}

{{ salutation }}

{{ body_intro }}

{{ body_main }}

{{ body_connection }}

{{ closing_line }}

Mit freundlichen Grüßen

{{ sender_name }}

{% if digital_signature %}
(digitale Unterschrift)
{% endif %}
